/* Variables */

:root {
  --black: #000000;
  --transparent-black: rgba(0, 0, 0, 0.30);
  --dark: #333333;
  --darker-blue: #5496BD;
  --dark-blue: #669EC0;
  --blue: #81b3d2;
  --darker-brown: #503E33;
  --dark-brown: #604E43;
  --brown: #766357;
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --footer-white: rgba(255, 255, 255, 0.9);
  --wrapper-shadow: rgba(0, 1, 1, 0.2);
  --form-shadow: rgba(0, 1, 1, 0.15);
  --light-gray: #f2f2f2;
  --gray: #eeeeee;
  --dark-gray: #888888;
  --extra-dark-gray: #666666;
  --main-image-background: #6c859a;
  --map-background: #e0edbc;
  --form-background: #47627c;
  --logo-gray: #bdbbbc;
  --hotels-border: #e5e5e5;
  --imput-hover: #ebebeb;
  --range-control: #ababab;
  --range-control-shadow: rgba(171, 171, 171, 0.3)
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark);
  text-transform: uppercase;
  background-color: var(--light-gray);
}

.wrapper {
  position: relative;
  width: 1200px;
  background-color: var(--white);
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 15px var(--wrapper-shadow);
          box-shadow: 0px 5px 15px var(--wrapper-shadow);
}

.page a {
  text-decoration: none;
}

.page img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Main navigation */

.main-navigation {
  position: relative;
  line-height: 26px;
  color: var(--black);
  background-color: transparent;
  font-weight: 700;
}

.main-navigation-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.site-navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 228px 1fr 1fr 228px;
  grid-template-columns: 228px 1fr 1fr 228px;
  padding: 14px 72px 16px;
  margin: 0;
  list-style: none;
}

.site-navigation-link-active {
  color: var(--brown);
  margin: 0px;
}

/* User navigation */

.left-group {
  -ms-grid-column-align: start;
      justify-self: start;
}

.right-group {
  -ms-grid-column-align: end;
      justify-self: end;
}

.site-navigation-link {
  color: var(--black);
}

.site-navigation-link:hover {
  color: var(--blue);
}

.site-navigation-link:active {
  color: var(--transparent-black);
}

/* Main logo */

.main-logo {
  position: relative;
  background-color: var(--main-image-background);
  background-image: url(../img/main-background.jpg);
  background-repeat: no-repeat;
  padding: 77px 371px 81px;
}

.main-logo::after {
  position: absolute;
  content: "";
  width: 1200px;
  height: 57px;
  -webkit-transform: translateX(-50%) translateY(-100%);
      -ms-transform: translateX(-50%) translateY(-100%);
          transform: translateX(-50%) translateY(-100%);
  left: 50%;
  top: 100%;
  background-image: url(../img/shape.svg);
  z-index: 1;
}

/* Features */

.features-description {
  text-align: center;
  padding-top: 41px;
  padding-bottom: 54px;
}

.features-description h3 {
  font-size: 21px;
  line-height: 26px;
  margin: 0 365px 47px 365px;
}

.features-description p {
  margin: 0;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-item {
  background-color: var(--gray);
  text-align: center;
}

.features-item-header {
  font-size: 21px;
  font-weight: 700;
  color: var(--black);
}

.features-item-main {
  display: -ms-grid;
  display: grid;
  background-color: var(--blue);
  color: var(--white);
}

.features-item-main-description {
  margin-top: 50px;
}

.features-item-main-description:first-child {
  margin-top: 47px;
}

.features-item-main-description h3 {
  margin: 0 115px 26px 115px;
  color: var(--white);
}

.features-item-main-description p:first-of-type {
  margin: 0;
  margin-bottom: 25px;
}

.features-item-main-description p:last-of-type {
  margin: 0 48px;
}

.img-left {
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}

.img-right {
  -ms-grid-columns: 2fr 1fr;
  grid-template-columns: 2fr 1fr;
}


/* Recommendations */

.recommendations-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.recommendations-item {
  position: relative;
  width: 400px;
  text-align: center;
  padding-top: 159px;
  margin-bottom: 82px;
  background-color: var(--white);
}

.item-home::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  height: 72px;
  width: 75px;
  background-image: url(../img/icon-house.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-food::before {
  content: "";
  position: absolute;
  top: 61px;
  left: 162px;
  height: 72px;
  width: 75px;
  background-image: url(../img/icon-food.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-souvenirs::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 168px;
  height: 77px;
  width: 64px;
  background-image: url(../img/icon-gift.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.recommendations-item-description {
  margin: 0 52px;
}

.recommendations-item-heaeder {
  font-size: 21px;
  font-weight: 700;
  color: var(--black);
  margin: 0;
  margin-bottom: 26px;
}

/* Additional features */

.features-list-additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-item-additional {
  width: 400px;
  padding-top: 46px;
  padding-bottom: 55px;
}

.features-item-additional h3 {
  margin: 0 140px 27px 140px;
}

.features-item-additional p:first-of-type {
  margin: 0;
  margin-bottom: 23px;
}

.features-item-additional p:last-of-type {
  margin: 0 65px;
}
/* Map and booking */

.map-and-booking {
  text-align: center;
  line-height: 24px;
  padding-top: 56px;
}

.map-and-booking-header {
  font-size: 30px;
  font-weight: 700;
  color: var(--black);
  margin: 0;
  margin-bottom: 32px;
}

.map-and-booking-text {
  margin: 0;
  margin-bottom: 45px;
}

/* Search button */

.search-button {
  font: inherit;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--brown);
  border: none;
  font-weight: 700;
}

.search-button:hover {
  background-color: var(--dark-brown);
}

.search-button:active {
  color: var(--transparent-white);
  background-color: var(--darker-brown);
}

/* Searching form */

.searching-form-wrapper {
  position: absolute;
  content: "";
  width: 568px;
  height: 395px;
  background-color: var(--white);
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  -webkit-box-shadow: 0px 7px 15px var(--form-shadow);
          box-shadow: 0px 7px 15px var(--form-shadow);
  z-index: 1;
}

.searching-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 55px;
}

.input-label {
  line-height: 26px;
  font-weight: 700;
  margin: 0;
  color: var(--black);
}

.date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.input-field-wrapper {
  position: relative;
}

.input-field {
  display: block;
  border: 0;
  background-color: var(--light-gray);
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: var(--black);
  text-transform: uppercase;
  height: 36px;
}

.input-field:hover {
  background-color: var(--imput-hover);
}

.input-field:focus {
  background-color: var(--white);
  outline: 2px solid var(--hotels-border);
  outline-offset: none;
}

.input-field-date {
  padding-left: 13px;
  width: 330px;
}

.calendar {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background-color: inherit;
  border: 0px;
  width: 39px;
  height: 38px;
  padding: 0;
}



.amount-of-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 55px;
}

.input-field-amount {
  padding: 0 39px;
  width: 35px;
  height: 38px;
  text-align: center;
}

.adults {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 226px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.amount-input-field-wrapper {
  position: relative;
}

.amount-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  content: "";
  background-color: inherit;
  border: 0px;
  padding: 0;
  width: 39px;
  height: 38px;
  top: 0;
}

.minus {
  left: 0;
}

.plus {
  right: 0;
}

.find-button {
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  border: 0;
  background-color: var(--blue);
}

.searching-form-icon:hover rect,
.searching-form-icon:hover path {
  fill: var(--black);
}

.searching-form-icon:active rect,
.searching-form-icon:active path {
  fill: var(--blue);
}

/* Map */

.map {
  background-color: var(--map-background);
  height: 593px;
  background-image: url(../img/map.png);
}

.map iframe {
  border: 0;
  width: 100%;
}

/* Hotels Filter */

.hotels-filter {
  background-color: var(--form-background);
  height: 217px;
  background-image: url(../img/filter-bacground.jpg);
}

.hotels-filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--white);
  padding: 25px 72px 0px 72px;
}

.hotels-filter-form fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  margin-right: 1px;
}

.hotels-filter-form fieldset:first-child {
  margin-right: 117px;
}

.hotels-filter-form fieldset:last-child {
  margin-left: auto;
}


.hotels-filter-form legend {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 26px;
}

.hotels-filter-form ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hotels-filter-option {
  margin-bottom: 25px;
  padding-left: 39px;
}

.housing-type {
  padding-left: 44px;
}

.hotels-filter-option label{
  position: relative;
  display: block;
  cursor: pointer;
}

.hotels-filter-option:nth-child(2) {
  margin-bottom: 24px;
}

.hotels-filter-checkbox + label:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  background-image: url(../img/checkbox-off.svg);
  left: -39px;
}

.housing-type .hotels-filter-checkbox + label:before {
  left: -43px;
}


.hotels-filter-checkbox:checked + label:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 27px;
  background-image: url(../img/checkbox-on.svg);
  left: -39px;
}

.housing-type .hotels-filter-checkbox:checked + label:before {
  left: -43px;
}

.hotels-filter-checkbox:hover + label:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  background-image: url(../img/checkbox-off.svg);
  left: -39px;
}

.housing-type .hotels-filter-checkbox:hover + label:before {
  left: -43px;
}

.hotels-filter-checkbox:checked:hover + label:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 27px;
  background-image: url(../img/checkbox-on.svg);
  left: -39px;
}

.housing-type .hotels-filter-checkbox:checked:hover + label:before {
  left: -43px;
}

.hotels-filter-checkbox:focus + label:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  background-image: url(../img/checkbox-off.svg);
  left: -39px;
  outline: 3px solid var(--black);
}

.housing-type .hotels-filter-checkbox:focus + label:before {
  left: -43px;
}

.hotels-filter-checkbox:checked:focus + label:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 27px;
  background-image: url(../img/checkbox-on.svg);
  left: -39px;
  outline: 3px solid var(--black);
}

.housing-type  .hotels-filter-checkbox:checked:focus + label:before {
  left: -43px;
}

.hotels-filter-checkbox:disabled + label:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  background-image: url(../img/checkbox-off-gray.svg);
  left: -39px;
}

.housing-type .hotels-filter-checkbox:disabled + label:before {
  left: -43px;
}

.hotels-filter-checkbox:checked:disabled + label:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 27px;
  background-image: url(../img/checkbox-on-gray.svg);
  left: -39px;
}

.housing-type  .hotels-filter-checkbox:checked:disabled + label:before {
  left: -43px;
}

/* Slider */

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider legend {
  margin-bottom: 12px;
}


.range-filter {
  width: 317px;
}

.range-controls {
  position: relative;
  margin-top: 20px;
  margin-bottom: 33px;
  margin-left: 1px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--transparent-white);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--white);
}

.range-controls .toggle {
  position: absolute;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 1px;
  width: 3px;
  height: 3px;
  padding: 0;
  border: 8px solid var(--white);
  background-color: var(--range-control);
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 0 var(--range-control-shadow) ;
          box-shadow: 0 2px 0 var(--range-control-shadow) ;
  cursor: pointer;
}

.range-controls .toggle:hover {
  border-width: 10px;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 252px;
}

.price-controls {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid var(--white);
  border-radius: 2px;
  padding: 5px 19px 6px 65px;
}

.price-controls::before {
  position: absolute;
  content: "";
  width: 2px;
  height: 22px;
  background-color: var(--white);
  left: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: var(--white);
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  width: 60px;
}

.filter-submit {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 137px;
  height: 36px;
  background: none;
  border: 2px solid var(--white);
  border-radius: 2px;
  text-transform: uppercase;
  color: var(--white);
  font-size: 14px;
  line-height: 21px;
  margin-right: 9px;
  cursor: pointer;
}

.filter-submit:hover {
  background-color: var(--white);
  color: var(--black);
}

/* Hotels sorting */

.hotels-sorting {
  border-bottom: 1px solid var(--hotels-border);
}

.hotels-sorting-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 117px 121px 1fr 34px;
  grid-template-columns: 117px 121px 1fr 34px;
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  margin: 0 73px;
}

 .arrow {
  border: 0;
  background-color: inherit;
  padding: 0;
  cursor: pointer;
}

.arrow:hover path {
  fill: var(--black);
}

.arrow:active path {
  fill: var(--blue);
}

.active-arrow path {
  fill: var(--blue);
}

.arrows-group {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5px;
}

.hotels-sorting-results-number {
  margin: 0;
  -ms-grid-column-align: end;
      justify-self: end;
  padding: 29px 0 31px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-group {
  -ms-grid-column-align: end;
      justify-self: end;
  margin: 0;
  padding: 31px 0 37px;
}

.sorting-buttons-group {
  padding: 32px 41px 0 40px;
}

.sorting-button {
  font: inherit;
  text-align: center;
  color: var(--transparent-black);
  text-transform: uppercase;
  background-color: var(--white);
  border: none;
  border-bottom: 1px dotted var(--blue);
  padding: 0px;
  padding-bottom: 1px;
  margin-right: 30px;
}

.sorting-button:hover {
  color: var(--blue);
}

.sorting-button:active {
  color: var(--black);
  border-bottom: none;
}

.active-button,
.active-button:hover,
.active-button:active {
  color: var(--blue);
  border-bottom: none;
}

/* Sorting results */

.sorting-results-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.sorting-results-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 135px 1fr 1fr;
  grid-template-columns: 135px 1fr 1fr;
  border-bottom: 1px solid var(--hotels-border);
  padding: 30px 73px 30px;
}

.result-img {
  width: 135px;
  height: 90px;
}

.result-description {
  text-align: left;
  margin-left: 29px;
}

.result-description h3 {
  margin-bottom: 7px;
  margin-top: -6px;
}

.result-header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
}

.result-header:hover {
  color: var(--blue);
}

.result-header:active {
  color: var(--transparent-black);
}

.type-and-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 15px;
}

.type-and-price p:first-child {
  width: 116px;
}

.type-and-price p {
  margin: 0;
}

.reslt-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Rating */

.rating-group {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.stars-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -2px;
  margin-top: -1px;
}

.stars-group span {
  margin-right: 5px;
}

.stars-group span:last-child {
  margin-right: 0;
}

.hotel-rating {

  padding: 3px 12px 3px 15px;
  color: var(--extra-dark-gray);
  background-color: var(--light-gray);
  margin-top: auto;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Result buttons */

.result-buttons-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result-button {
  display: inline-block;
  vertical-align: center;
  text-align: center;
  padding: 3px 17px;
  color: var(--white);
  font-weight: 700;
}

.more-button {
  background-color: var(--blue);
  margin-right: 6px;
}

.more-button:hover {
  background-color: var(--dark-blue);
}
.more-button:active {
  background-color: var(--darker-blue);
  color: var(--transparent-white);
}

.book-button {
  color: var(--white);
  background-color: var(--brown);
}

.book-button:hover {
  background-color: var(--dark-brown);
}

.book-button:active {
  background-color: var(--darker-brown);
  color: var(--transparent-white);
}
/* Footer */

.page-footer {
  line-height: 26px;
  color: var(--black);
  background-color: var(--footer-white);
}

.main-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

.footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr, 1fr, 1fr;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 120px;
  padding: 0 54px;
}

/* Contacts */

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 6px;
}

.footer-contacts p {
  margin: 0;
  margin-bottom: 8px;
}

.footer-phone {
  color: inherit;
}

/* Socials */

.footer-social {
  text-align: center;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 150px;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  margin-right: 6px;
  position: relative;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 46px;
  height: 48px;
  color: var(--white);
  background-color: var(--blue);
}


.social-button:active path {
  fill: var(--transparent-white);
}

.social-button:hover {
  background-color: var(--dark-blue);
}

.social-button:active {
  color: var(--transparent-white);
  background-color: var(--darker-blue);
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 197px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 4px;
}

.copyright-button:hover path {
  fill: var(--blue);
}

.copyright-button:active path {
  fill: var(--logo-gray);
}

/* JavaScript */

.form-off {
  display: none;
}

.form-show {
  display: block;
  -webkit-animation-name: scratch;
          animation-name: scratch;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

.form-animate-open {
  -webkit-animation-name: form-open;
          animation-name: form-open;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.form-error {
  -webkit-animation-name: form-error;
          animation-name: form-error;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

/* Animations */

@-webkit-keyframes form-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes form-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes form-error {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;;
  }

  100% {
    opacity: 1;
  }
}

@keyframes form-error {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scratch {
  0% {
    height: 0;
  }

  100% {
    height: 395px;
  }
}

@keyframes scratch {
  0% {
    height: 0;
  }

  100% {
    height: 395px;
  }
}
