/* Variables */

:root {
  --black: #000000;
  --transparent-black: rgba(0, 0, 0, 0.30);
  --dark: #333333;
  --darker-blue: #5496BD;
  --dark-blue: #669EC0;
  --blue: #81b3d2;
  --darker-brown: #503E33;
  --dark-brown: #604E43;
  --brown: #766357;
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --footer-white: rgba(255, 255, 255, 0.9);
  --light-gray: #f2f2f2;
  --gray: #eeeeee;
  --dark-gray: #888888;
  --extra-dark-gray: #666666;
  --main-image-background: #6c859a;
  --map-background: #e0edbc;
  --form-background: #47627c;
  --logo-gray: #bdbbbc;
  --hotels-border: #e5e5e5;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark);
  text-transform: uppercase;
  background-color: var(--light-gray);
}

.wrapper {
  position: relative;
  width: 1200px;
  background-color: var(--white);
  margin: 0 auto;
}

.page a {
  text-decoration: none;
}

.page img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Main navigation */

.main-navigation {
  position: relative;
  line-height: 26px;
  color: var(--black);
  background-color: transparent;
  font-weight: 700;
}

.main-navigation-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.site-navigation {
  display: grid;
  grid-template-columns: 228px 1fr 1fr 228px;
  padding: 15px 72px;
  margin: 0;
  list-style: none;
}

.site-navigation-link-active {
  color: var(--brown);
}

/* User navigation */

.left-group {
  justify-self: start;
}

.right-group {
  justify-self: end;
}

.site-navigation-link {
  color: var(--black);
}

.site-navigation-link:hover {
  color: var(--blue);
}

.site-navigation-link:active {
  color: var(--transparent-black);
}

/* Main logo */

.main-logo {
  position: relative;
  background-color: var(--main-image-background);
  background-image: url(../img/main_background.jpg);
  background-repeat: no-repeat;
  padding: 77px 371px 81px;
}

.main-logo::after {
  position: absolute;
  content: "";
  width: 1200px;
  height: 57px;
  transform: translateX(-50%) translateY(-100%);
  left: 50%;
  top: 100%;
  background-image: url(../img/Shape.svg);
  z-index: 1;
}

/* Features */

.features-description {
  text-align: center;
  padding-top: 43px;
  padding-bottom: 51px;
}

.features-description h3 {
  font-size: 21px;
  line-height: 26px;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-item {
  background-color: var(--gray);
  text-align: center;
}

.features-item-header {
  font-size: 21px;
  font-weight: 700;
  color: var(--black);
}

.features-item-main {
  display: grid;
  background-color: var(--blue);
  color: var(--white);
}

.img-left {
  grid-template-columns: 1fr 2fr;
}

.img-right {
  grid-template-columns: 2fr 1fr;
}

.features-item-main-header {
  color: var(--white);
}

.features-item-main-description {
  margin-top: 47px;
  margin-bottom: 54px;
}

/* Recommendations */

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.recommendations-item {
  position: relative;
  width: 400px;
  text-align: center;
  padding-top: 160px;
  margin-bottom: 70px;
  background-color: var(--white);
}

.item-home::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 162px;
  height: 72px;
  width: 75px;
  background-image: url(../img/icon-house.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-food::before {
  content: "";
  position: absolute;
  top: 62px;
  left: 162px;
  height: 72px;
  width: 75px;
  background-image: url(../img/icon-food.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-souvenirs::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 168px;
  height: 77px;
  width: 64px;
  background-image: url(../img/icon-gift.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.recommendations-item-description {
  margin-right: 52px;
  margin-left: 52px;
}

.recommendations-item-heaeder {
  font-size: 21px;
  font-weight: 700;
  color: var(--black);
}

/* Additional features */

.features-list-additional {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-item-additional {
  width: 400px;
}

/* Map and booking */

.map-and-booking {
  text-align: center;
  line-height: 24px;
}

.map-and-booking-header {
  font-size: 30px;
  font-weight: 700;
  color: var(--black);
}

/* Search button */

.search-button {
  font: inherit;
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--brown);
  border: none;
}

.search-button:hover {
  background-color: var(--dark-brown);
}

.search-button:active {
  color: var(--transparent-white);
  background-color: var(--darker-brown);
}

/* Map */

.map {
  background-color: var(--map-background);
}

/* Hotels Filter */

.hotels-filter {
  background-color: var(--form-background);
  height: 217px;
}

/* Hotels sorting */

.hotels-sorting {
  border-bottom: 1px solid var(--hotels-border);
}

.hotels-sorting-grid {
  display: grid;
  grid-template-columns: 117px 120px 1fr 34px;
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  margin: 0 73px;
}

 .arrow {
  border: 0;
  background-color: inherit;
  outline: none;
  padding: 0;
}

.arrow:hover path {
  fill: var(--black);
}

.arrow:active path {
  fill: var(--blue);
}

.active-arrow path {
  fill: var(--blue);
}

.arrows-group {
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.hotels-sorting-results-number {
  margin: 0;
  justify-self: end;
  padding: 29px 0 31px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-group {
  justify-self: end;
  margin: 0;
  padding: 31px 0 37px;
}

.sorting-buttons-group {
  padding: 32px 40px 0 36px;
}

.sorting-button {
  font: inherit;
  text-align: center;
  color: var(--transparent-black);
  text-transform: uppercase;
  background-color: var(--white);
  border: none;
  border-bottom: 1px dotted var(--blue);
  padding: 0px;
  margin-right: 32px;
  outline: none;
}

.sorting-button:hover {
  color: var(--blue);
}

.sorting-button:active {
  color: var(--black);
  border-bottom: none;
}

.active-button {
  color: var(--blue);
  border-bottom: none;

}

/* Sorting results */

.sorting-results-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.sorting-results-item {
  display: grid;
  grid-template-columns: 135px 1fr 1fr;
  border-bottom: 1px solid var(--hotels-border);
  padding: 30px 73px;
}

.result-img {
  width: 135px;
  height: 90px;
}

.result-description {
  text-align: left;
  margin-left: 29px;
}

.result-description h3 {
  margin-bottom: 7px;
  margin-top: -6px;
}

.result-header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
}

.result-header:hover {
  color: var(--blue);
}

.result-header:active {
  color: var(--transparent-black);
}

.type-and-price {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.type-and-price p:first-child {
  width: 116px;
}

.type-and-price p {
  margin: 0;
}

.reslt-buttons {
  display: flex;
}

/* Rating */

.hotel-rating {
  /* при варианте через флексы justify-self здесь не нужен */
  justify-self: end;

  padding: 3px 12px 3px 15px;
  color: var(--extra-dark-gray);
  background-color: var(--light-gray);
  margin-top: auto;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Вариант звездочек через флексы */

/* .test {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.test::before {
  display: block;
  content: "";
  height: 17px;
  width: 92px;
  background-image: url(../img/star.svg);
  background-position: right;
  background-repeat: space;
}
.test-four::before {
  width: 92px;
}

.test-three::before {
  width: 66px;
}

.test-two::before {
  width: 42px;
} */

.hotel-rating::before {
  position: absolute;
  content: "";
  background-position: right;
  bottom: 74px;
  right: 0;
  height: 17px;
  background-image: url(../img/star.svg);
  background-repeat: space;
}

.four-stars::before {
  width: 92px;
}

.three-stars::before {
  width: 66px;
}

.two-stars::before {
  width: 42px;
}

/* Result buttons */

.result-buttons-group {
  display: flex;
}

.result-button {
  display: inline-block;
  text-align: center;
  padding: 3px 17px;
  color: var(--white);
  font-weight: 700;
}

.more-button {
  background-color: var(--blue);
  margin-right: 6px;
}

.more-button:hover {
  background-color: var(--dark-blue);
}
.more-button:active {
  background-color: var(--darker-blue);
  color: var(--transparent-white);
}

.book-button {
  color: var(--white);
  background-color: var(--brown);
}

.book-button:hover {
  background-color: var(--dark-brown);
}

.book-button:active {
  background-color: var(--darker-brown);
  color: var(--transparent-white);
}
/* Footer */

.page-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  line-height: 26px;
  color: var(--black);
  background-color: var(--footer-white);
  margin: 0 73px;
}

.main-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

/* Contacts */

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.footer-phone {
  color: inherit;
}

/* Socials */

.footer-social {
  text-align: center;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  height: 100%;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  margin-right: 6px;
  position: relative;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: var(--white);
  background-color: var(--blue);
}


.social-button:active path {
  fill: var(--transparent-white);
}

.social-button:hover {
  background-color: var(--dark-blue);
}

.social-button:active {
  color: var(--transparent-white);
  background-color: var(--darker-blue);
}

.footer-copyright {
  display: flex;
  width: 197px;
  align-items: center;
  justify-content: space-between;
}

.copyright-button:hover path {
  fill: var(--blue);
}

.copyright-button:active path {
  fill: var(--logo-gray);
}
