/* Variables */

:root {
  --black: #000000;
  --transparent-black: rgba(0, 0, 0, 0.30);
  --dark: #333333;
  --darker-blue: #5496BD;
  --dark-blue: #669EC0;
  --blue: #81b3d2;
  --darker-brown: #503E33;
  --dark-brown: #604E43;
  --brown: #766357;
  --white: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.3);
  --footer-white: rgba(255, 255, 255, 0.9);
  --light-gray: #f2f2f2;
  --gray: #eeeeee;
  --dark-gray: #888888;
  --extra-dark-gray: #666666;
  --main-image-background: #6c859a;
  --map-background: #e0edbc;
  --form-background: #47627c;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--dark);
  text-transform: uppercase;
  background-color: var(--light-gray);
}

.wrapper {
  width: 1200px;
  background-color: var(--white);
  margin: 0 auto;
}

.page a {
  text-decoration: none;
}

.page img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Main navigation */

.main-navigation {
  position: relative;
  line-height: 26px;
  color: var(--black);
  background-color: transparent;
  font-weight: 700;
}

.main-navigation-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.site-navigation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 15px 72px;
  margin: 0;
  list-style: none;
}

.site-navigation-link-active {
  color: var(--brown);
}

/* User navigation */

.left-group {
  justify-self: start;
}

.right-group {
  justify-self: end;
}

.site-navigation-link {
  color: var(--black);
}

.site-navigation-link:hover {
  color: var(--blue);
}

.site-navigation-link:active {
  color: var(--transparent-black);
}

/* Main logo */

.main-logo {
  background-color: var(--main-image-background);
  padding: 77px 371px 81px;
}


/* Features */

.features-description {
  text-align: center;
  padding-top: 43px;
  padding-bottom: 51px;
}

.features-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-item {
  background-color: var(--gray);
  text-align: center;
}

.features-item-header {
  font-size: 21px;
  font-weight: 700;
  color: var(--black);
}

.features-item-main {
  display: grid;
  background-color: var(--blue);
  color: var(--white);
}

.img-left {
  grid-template-columns: 1fr 2fr;
}

.img-right {
  grid-template-columns: 2fr 1fr;
}

.features-item-main-header {
  color: var(--white);
}

/* Recommendations */

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.recommendations-item {
  width: 400px;
  text-align: center;
  background-color: var(--white);
}

.recommendations-item-description {
  margin-right: 52px;
  margin-left: 52px;
}

.recommendations-item-heaeder {
  font-size: 21px;
  font-weight: 700;
  color: var(--black);
}

/* Additional features */

.features-list-additional {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.features-item-additional {
  width: 400px;
}

/* Map and booking */

.map-and-booking {
  text-align: center;
  line-height: 24px;
}

.map-and-booking-header {
  font-size: 30px;
  font-weight: 700;
  color: var(--black);
}

/* Search button */

.search-button {
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--brown);
  border: none;
}

.search-button:hover {
  background-color: var(--dark-brown);
}

.search-button:active {
  color: var(--transparent-white);
  background-color: var(--darker-brown);
}

/* Map */

.map {
  background-color: var(--map-background);
}

/* Hotels Filter */

.hotels-filter {
  background-color: var(--form-background);
  height: 217px;
  padding-top: 27px;
}

/* Hotels sorting */

.hotels-sorting {
  display: grid;
  grid-template-columns: 190px 120px 1fr;
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  border-bottom: 1px solid var(--transparent-black);
}

.hotels-sorting-results-number {
  margin: 0;
  justify-self: end;
  padding: 29px 0 31px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting-group {
  justify-self: end;
  margin: 0;
  padding: 31px 0 37px;
}

.sorting-buttons-group {
  padding: 32px 40px 0 36px;
}

.sorting-button {
  font: inherit;
  text-align: center;
  color: var(--transparent-black);
  text-transform: uppercase;
  background-color: var(--white);
  border: none;
  border-bottom: 1px dotted var(--blue);
  padding: 0px;
  margin-right: 32px;
}

.sorting-button:hover {
  color: var(--blue);
}

.sorting-button:active {
  color: var(--black);
  border-bottom: none;
}

.active-button {
  color: var(--blue);
  border-bottom: none;

}

/* Sorting results */

.sorting-results-list {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.sorting-results-item {
  display: grid;
  grid-template-columns: 237px 258px 1fr;
  border-bottom: 1px solid var(--transparent-black);
}

.result-img {
  padding: 30px 29px 30px 73px;
}

.result-description {
  text-align: left;
}

.result-header {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
}

.result-header:hover {
  color: var(--blue);
}

.result-header:active {
  color: var(--transparent-black);
}

.hotel-rating {
  height: 27px;
  width: 110px;
  justify-self: end;
  margin: 93px 73px 30px 0;
  color: var(--extra-dark-gray);
  background-color: var(--light-gray);
}

.more-button {
  color: var(--white);
  background-color: var(--blue);
  font-weight: 700;
}

.more-button:hover {
  background-color: var(--dark-blue);
}
.more-button:active {
  background-color: var(--darker-blue);
  color: var(--transparent-white);
}

.book-button {
  color: var(--white);
  background-color: var(--brown);
  font-weight: 700;
}

.book-button:hover {
  background-color: var(--dark-brown);
}

.book-button:active {
  background-color: var(--darker-brown);
  color: var(--transparent-white);
}
/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  line-height: 26px;
  color: var(--black);
  background-color: var(--footer-white);
}

/* Contacts */

.footer-contacts {
  font-size: 21px;
  font-weight: 700;
}

.footer-phone {
  color: inherit;
}

/* Socials */

.footer-social {
  text-align: center;
}

.footer-social-list {
  display: flex;
  height: 100%;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  margin-right: 6px;
}

.social-button {
  display: inline-block;
  width: 46px;
  height: 48px;
  color: var(--white);
  background-color: var(--blue);
}

.social-button:hover {
  background-color: var(--dark-blue);
}

.social-button:active {
  color: var(--transparent-white);
  background-color: var(--darker-blue);
}

.footer-copyright {
  display: flex;
  width: 197px;
  align-items: center;
  justify-content: space-between;
}
